#root {
    margin-top: -30px;
}

.content {
    width: 100%;
    height: auto;
}

.tabs-details {
    display: block;
    white-space: initial;
    /* very important for reasons */
    padding-left: 10px;
    padding-right: 10px;
}

#email {
    padding-right: 15px;
    padding-left: 20px;
}

img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.columns {
    background-color: gainsboro;
}